body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    background-color: #051b11;
}

nav {
    background-color: #0a3622;
    padding: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, h2, h3, h4 {
    margin: 0;
}

input, select {
    border: 0.1rem solid white;
    background-color: white;
    border-radius: 0.3rem;
    font-family: 'JetBrains Mono', monospace;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 0.3rem 1rem;
}

tr.clickable:hover {
    border-color: #198754;
    color: #198754;
    background-color: white;
    cursor: pointer;
}

.main {
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon-right {
    margin-left: 0.5rem;
}

.icon-left {
    margin-right: 0.5rem;
}

.btn {
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.3rem;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
}

button.btn {
    background-color: #0a3622;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
}

.btn-primary {
    border-color: white;
    color: white;
}

.btn-primary:hover {
    border-color: white;
    color: #198754;
    background-color: white;
}

.content {
    background-color: #0a3622;
    padding: 2rem;
    border-radius: 0.4rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.huge-content {
    width: 90%;
    min-width: 250px;
}

.huge-content h1 {
    text-align: center;
}

.big-content {
    width: 70%;
    min-width: 250px;
    max-width: 1200px;
}

.big-content h1 {
    text-align: center;
}

.medium-content {
    width: 70%;
    min-width: 250px;
    max-width: 600px;
}

.medium-content h1 {
    text-align: center;
}

.small-content {
    width: 30%;
    min-width: 250px;
    max-width: 350px;
}

.small-content h1 {
    text-align: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 60%;
    margin: 1rem;
}

.form {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 100%;
    row-gap: 0.5rem;
}

.form .errorlist {
    grid-column-start: 1;
    grid-column-end: 3;
}

@media screen and (max-width: 480px) {
    .form-submit {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
}

@media screen and (max-width: 750px) {
    .form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.end-buttons {
    margin-top: 1rem;
}

@media screen and (max-width: 1000px) {
    .end-buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-cards {
    gap: 2rem;
}

.small-cards {
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.big-card {
    width: 10rem;
    height: 10rem;
    font-size: 1.5rem;
}

.small-card {
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
}

.card i {
    font-size: 200%;
}

.list {
    width: 100% !important;
    overflow-x: scroll; 
}

.list table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
}

.charts-section {
    display: grid;
    grid-template-columns: 420px auto;
    column-gap: 1rem;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .charts-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
}

.charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.filter-wrapper {
    width: 100%
}

.filters {
    border: 0.1rem solid white;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    position: sticky;
    top: 1rem;
}

.filter-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.chartTile {
    border: 0.1rem solid white;
    border-radius: 0.4rem;
    background-color: #212529;
    width: 100%;
    height: 70vh;
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
}

/* Base */

#siteTitle a {
    color: white;
    text-decoration: none;
}

#headerLogo {
    margin-right: 0.3rem;
}

#titleText {
    display: inline;
    margin-bottom: 1rem;
}

/* Index */

#indexLogo {
    margin-bottom: -1rem;
    margin-top: -1rem;
}

#mainLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#mainLogin i {
    font-size: 2rem;
}

/* Login */

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#loginForm input:focus {
    outline: none;
}

#loginForm .row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#loginForm p {
    margin: 0;
    text-align: center;
}

/* Import */
#id_csvFile {
    color: black;
}

/* Import Results */
#results {
    width: 80%;
}

/* Dashboard */
#filterTitle {
    margin-bottom: 1rem;
}
