body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    background-color: #051b11;
}

nav {
    background-color: #0a3622;
    padding: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, h2 {
    margin: 0;
}

input, select {
    border: 0.1rem solid white;
    background-color: white;
    border-radius: 0.3rem;
    font-family: 'JetBrains Mono', monospace;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main {
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon-right {
    margin-left: 0.5rem;
}

.icon-left {
    margin-right: 0.5rem;
}

.btn {
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.3rem;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1rem;
}

button.btn {
    background-color: #0a3622;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
}

.btn-primary {
    border-color: white;
    color: white;
}

.btn-primary:hover {
    border-color: white;
    color: #198754;
    background-color: white;
}

#headerLogo {
    font-size: 3rem;
    margin-right: 1rem;
}

.content {
    background-color: #0a3622;
    padding: 2rem;
    border-radius: 0.4rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.big-content {
    width: 70%;
    min-width: 250px;
    max-width: 800px;
}

.big-content h1 {
    text-align: center;
}

.medium-content {
    width: 70%;
    min-width: 250px;
    max-width: 600px;
}

.medium-content h1 {
    text-align: center;
}

.small-content {
    width: 30%;
    min-width: 250px;
    max-width: 350px;
}

.small-content h1 {
    text-align: center;
}

.form {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 60%;
    row-gap: 0.5rem;
}

.form-mobile {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form .errorlist {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Base */

#siteTitle a {
    color: white;
    text-decoration: none;
}

/* Index */

#indexLogo {
    font-size: 5rem;
    margin-bottom: -1rem;
    margin-top: -1rem;
}

#mainLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#mainLogin i {
    font-size: 2rem;
}

/* Login */

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#loginForm input:focus {
    outline: none;
}

#loginForm .row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#loginForm p {
    margin: 0;
    text-align: center;
}
 /* Import */
 #id_csvFile {
     color: black;
 }