body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    background-color: #051b11;
}

nav {
    background-color: #0a3622;
    padding: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

.content {
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-icon-right {
    margin-left: 0.5rem;
}

.btn-icon-left {
    margin-right: 0.5rem;
}

.btn {
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.3rem;
    text-decoration: none;
    padding: 0.5rem;
}

button.btn {
    background-color: #0a3622;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
}

.btn-primary {
    border-color: white;
    color: white;
}

.btn-primary:hover {
    border-color: white;
    color: #198754;
    background-color: white;
}

#headerLogo {
    font-size: 3rem;
    margin-right: 1rem;
}

.small-content {
    width: 30%;
    min-width: 250px;
    background-color: #0a3622;
    padding: 2rem;
    border-radius: 0.4rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.small-content h1 {
    text-align: center;
}

/* Index */

#indexLogo {
    font-size: 5rem;
    margin-bottom: -1rem;
    margin-top: -1rem;
}

#mainLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#mainLogin i {
    font-size: 2rem;
}

/* Login */

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#loginForm input {
    height: 1.5rem;
    border: 0.1rem solid white;
    border-radius: 0.3rem;
    font-family: 'JetBrains Mono', monospace;    
}

#loginForm input:focus {
    outline: none;
}

#loginForm .row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
