{% extends "base.html" %}

{% block title %}
    <h1>Login</h1>
{% endblock %}

{% block content %}
    <div class="small-content">
        <form id="loginForm" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row">
                <i class="bi bi-person-fill"></i>
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="row">
                <i class="bi bi-key-fill"></i>
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="lastrow">
                <button id="submit" type="submit" class="btn btn-primary">Login<i class="bi bi-arrow-right btn-icon-right"></i></button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>
    </div>
{% endblock %}