{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="content medium-content">
        <h1>Log Transaction</h1>
        <div class="cards medium-cards">
            <a href="/logIncome?prevUrl=chooseTransactionType" class="btn btn-primary card big-card"><i class="bi bi-graph-up-arrow"></i>Log Income</a>
            <a href="/logExpense?prevUrl=chooseTransactionType" class="btn btn-primary card big-card"><i class="bi bi-graph-down-arrow"></i>Log Expense</a>
            <a href="/presetTransactions?prevUrl=chooseTransactionType" class="btn btn-primary card big-card"><i class="bi bi-folder"></i>Presets</a>
        </div>
        <a href="{% url 'home' %}" class="btn btn-primary">Cancel<i class="bi bi-x-lg icon-right"></i></a>
    </div>
{% endblock %}