{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="content small-content">
        <h1>Success!</h1>
        <div>
            <p>{{ preset }} was successfully created.</p>
        </div>
        <div class="end-buttons">
            <a class="btn btn-primary" href="{% url 'home' %}">Home<i class="bi bi-house icon-right"></i></a>
            <a class="btn btn-primary" href="{% url 'logIncome' %}">Create Another<i class="bi bi-plus-lg icon-right"></i></i></a>
        </div>
    </div>
{% endblock %}