{% extends "base.html" %}
{% load static %}
{% block nav %}
{% endblock %}

{% block content %}
    <div class="content large-content">
        <h2>Dashboard</h2>
        <div class="dashboard">
            <div class="chartTile">
                <div class="filters">
                    {% include "tracker/form.html" %}
                </div>
                <div class="mainChart">
                    <canvas id="myChart" width="600px" height="600px"></canvas>
                    {{transactionData|json_script:"transactionData"}}
                    <script type="text/javascript" src="{% static 'tracker/charts.js' %}"></script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}