{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="content small-content">
        <h1>Are you sure?</h1>
        <div>
            <p>{{ message }}</p>
        </div>
        <div class="end-buttons">
            <a class="btn btn-primary" href="{{ hrefCancel }}">Cancel<i class="bi bi-x-lg icon-right"></i></a>
            <form id="deleteForm" action="{{ deleteAction }}" method="post" style="display: none;">
                {% csrf_token %}
            </form>
            <button form="deleteForm" type="submit" class="btn btn-primary">Confirm<i class="bi bi-check2-square icon-right"></i></a>
        </div>
    </div>
{% endblock %}