<h2 class="page-title">Log Expense</h2>
<form id="{{ form.formId }}" method="post" action="{% url 'logExpense' %}">
    {% csrf_token %}
    <div class="form" id="form">
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <label for="{{ field.id_for_label }}"><i class="{{ form.iconClasses|get_value:field.name }}"></i>{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        {% endfor %}
    </div>
</form>
<div class="form-submit">
    <a href="/{{ form.prevUrl.value }}" class="btn btn-primary">Cancel<i class="bi bi-x-lg icon-right"></i></a>
    <button id="submit" form="{{ form.formId }}" type="submit" class="btn btn-primary">Submit<i class="bi bi-check2-square icon-right"></i></button>
</div>