{% extends "base.html" %}

{% block nav %}
    
{% endblock %}

{% block content %}
    <div class="content big-content">
        <h1>Current balance for this month: ${{ monthlyBalance }}</h1>
    </div>
    <div class="content big-content">
        <div class="cards big-cards">
            <a class="btn btn-primary card big-card" href="{% url 'chooseTransactionType' %}"><i class="bi bi-pencil-square"></i>Log</a>
            <a class="btn btn-primary card big-card" href="{% url 'transactions' %}"><i class="bi bi-list-ul"></i>List</a>
            <a class="btn btn-primary card big-card" href="{% url 'import' %}"><i class="bi bi-cloud-upload"></i>Import</a>
        </div>
    </div>
    
{% endblock %}