{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="content big-content">
        <h2 class="page-title">Transactions</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Vendor</th>
                <th>Reason</th>
                <th>Method</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.vendor }}</td>
                    <td>{{ transaction.reason }}</td>
                    <td>{{ transaction.method }}</td>
                    <td>{{ transaction.category }}</td>
                    <td>${{ transaction.amountStr }}</td>
                </tr>
            {% endfor %}
        </table>
        
    </div>
{% endblock %}