{% extends "base.html" %}
{% load filters %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="content big-content">
        <h2 class="page-title">Transactions</h2>
        <div class="list">
            <table>
                <thead>
                    <th>Date</th>
                    <th>Vendor</th>
                    <th>Reason</th>
                    <th>Method</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <!-- <th>Edit</th>
                    <th>Delete</th> -->
                </thead>
                {% for transaction in transactions %}
                    <tr class="clickable" onclick="window.location = '/transactions/{{transaction.id}}?prevUrl=transactions'">
                        <td>{{ transaction.dateStr }}</td>
                        <td>{{ transaction.vendor }}</td>
                        <td>{{ transaction.reason }}</td>
                        <td>{{ transaction.method }}</td>
                        <td>{{ transaction.category }}</td>
                        <td class="accounting">{{ transaction.amountStr|spacify }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <p>Showing {{ transactions.count }} transactions</p>
        {% if not hideShowMore %}
            <form method="post" action="{% url 'transactions' %}">
                {% csrf_token %}
                <input hidden name="prevNumToShow" type="number" value="{{ prevNumToShow }}">
                <button type="submit" class="btn btn-primary">Show More<i class="bi bi-plus-lg icon-right"></i></button>
            </form>
        {% endif %}
    </div>
{% endblock %}