{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="content small-content">
        <h2>Success!</h2>
        <div>
            <p>{{ income }} was successfully logged.</p>
        </div>
        <div class="end-buttons">
            <a class="btn btn-primary" href="{% url 'home' %}">Home<i class="bi bi-house icon-right"></i></a>
            <a class="btn btn-primary" href="{% url 'logIncome' %}">Log Another<i class="bi bi-pencil-square icon-right"></i></i></a>
        </div>
    </div>
{% endblock %}