{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="content medium-content">
        <h1>Preset Transactions</h1>
        <div class="flex-row">
            <a href="{% url 'settings' %}" class="btn btn-primary"><i class="bi bi-arrow-left icon-left"></i>Back</a>
            <a href="/presetTransactions/new?prevUrl=presetTransactions" class="btn btn-primary"><i class="bi bi-plus-lg icon-left"></i>Add New Preset</a>
        </div>
        <div class="rows">
            {% for preset in presets %}
                <a href="/presetTransactions/{{ preset.id }}?prevUrl=presetTransactions" class="btn btn-primary row-icon-subtitle">
                    <div class="row-icon">
                        <i class="bi {% if preset.isExpense %} bi-graph-down-arrow {% else %} bi-graph-up-arrow {% endif %} icon-left"></i>
                    </div>
                    <div class="row-subtitle">
                        {% if preset.isExpense %} Expense {% else %} Income {% endif %}
                    </div>
                    <div class="row-content">
                        <p>{{preset.name}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}