{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="content small-content">
        <h1>Success!</h1>
        <div>
            <p>Transaction of ${{ transaction.amount }} at {{ transaction.vendor }} on {{ transaction.date }} was successfully updated.</p>
        </div>
        <div class="end-buttons">
            <a class="btn btn-primary" href="{% url 'list' %}">List<i class="bi bi-list-ul icon-right"></i></a>
            <a class="btn btn-primary" href="/transactions/{{transaction.id}}">Expense Details<i class="bi bi-receipt icon-right"></i></i></a>
        </div>
    </div>
{% endblock %}